<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Content for the edit Operation-->
<div class="container"></div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="exerciseNameTextField">exerciseName</label>
                    <input type="text" class="form-control" id="exerciseNameTextField" placeholder="Enter the exerciseName" name="exerciseName" value="<%= Workout.exerciseName %>" required>
                </div>
                <div class="form-group">
                    <label for="typeTextField">type</label>
                    <input type="text" class="form-control" id="typeTextField" placeholder="Enter the type" name="type" value="<%= Workout.type %>" required>
                </div>
                <div class="form-group">
                    <label for="durationTextField">duration</label>
                    <input type="text" class="form-control" id="durationTextField" placeholder="Enter the duration" name="duration" value="<%= Workout.duration %>" required>
                </div>
                <div class="form-group">
                    <label for="dateTextField">date</label>
                    <input type="text" class="form-control" id="dateTextField" placeholder="date" name="date" value="<%= Workout.date %>" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>