<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Book Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/workoutslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-box"></i> Add Workout
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">exerciseName</th>
                    <th class="text-center col-2">type</th>
                    <th class="text-center col-1">duration</th>
                    <th class="text-center col-1">date</th>
                </tr>
                <% for(let count=0;count<WorkoutList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= WorkoutList[count].exerciseName %></td>
                    <td class="text-center col-2"><%= WorkoutList[count].type %></td>
                    <td class="text-center col-1"><%=WorkoutList[count].duration%></td>
                    <td class="text-center col-1"><%= WorkoutList[count].date %></td>
                    <td class="text-center col-1">
                        <a href="/workoutslist/edit/<%= WorkoutList[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/workoutslist/delete/<%= WorkoutList[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a>
                    </td>
                </tr>    
                    <%} %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs%>