<%- include Partials/header.ejs %> <!-- Includes the reusable header -->
<%- include Partials/main_nav.ejs %> <!-- Includes the reusable navigation -->

<!-- Main content -->
<h1><%= title %></h1> <!-- Dynamic title passed from the route -->
<h2>Welcome to <%= title %>.</h2>

<!-- Images -->
<div class="container">
    <img src="/Assets/images/contactus.ejs.jpg" class="img-fluid rounded" alt="Workout Image 1 ">
    <h1>Contact Us: Our Location</h1>
    <p>Our fitness center is located at 123 Main Street, Anytown, USA. We're always here to help you find the perfect workout for your fitness goals</p>
    <p>Our fitness center is open Monday through Friday, from 6:00 AM to 10:00 PM</p>
    <p>Call us at 647-555-9368 for more information </p>
   


</div>



<%- include Partials/footer.ejs %> <!-- Includes the reusable footer -->