<%- include Partials/header.ejs %> <!-- Includes the reusable header -->
<%- include Partials/main_nav.ejs %> <!-- Includes the reusable navigation -->

<!-- Main content -->
<h1><%= title %></h1> <!-- Dynamic title passed from the route -->
<h2>Welcome to <%= title %>.</h2>


<!-- Images -->
<div class="container">
    <img src="/Assets/images/service1.jpg" class="img-fluid rounded" alt="Workout Image 1 ">
    <h3>Our Services: A Commitment to Excellence</h3>
    <p>At our fitness center, we prioritize the well-being of our customers above all else. That's why we invest heavily in the development and production of our services.</p>
    <p> We ensure that each service is thoroughly tested, and that all materials are of the highest quality..</p>
    <h4> Our Services: A Commitment to Your Success</h4>
    <p>We believe that our services are the key to your success. That's why we invest heavily in the development and production of our services</p>
    <img src="/Assets/images/service2.jpg" class="img-fluid rounded" alt="Workout Image 3">
</div>

<%- include Partials/footer.ejs %> <!-- Includes the reusable footer -->